* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.block {
  width: 500px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
  border-radius: 3px;
  margin-top: 50px;
  padding: 15px;
}

.block-form {
  content: "";
  display: table;
  clear: both;
}

.block-form-input {
  float: left;
  display: block;
  width: 300px;
  border: none;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
  text-indent: 10px;
}

.block-input {
  display: block;
  float: right;
  width: 100px;
  line-height: 25px;
  text-align: center;
  border: none;
  outline: none;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
  background-color: green;
  border-radius: 3px;
  color: white;
  position: absolute;
  right: 30px;
}

.block-list-elem {
  border-bottom: 1px solid black;
  padding-bottom: 10px;
  margin-bottom: 15px;
  font-family: cursive;
  position: relative;
}

.block-list-elem:hover > .block-list-delate {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.block-list-delate {
  position: absolute;
  right: 0;
  top: 0;
  background: red;
  color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  border-radius: 3px;
  width: 15%;
  line-height: 20px;
  text-align: center;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.block-list {
  margin-bottom: 30px;
}